<!--
  #############
  Teams Page
  #############
-->
<section class=" elements mt-5">
  <div class="container">
    <!--Default Team Example-->
    <div class="row mb-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <h2> Default Team</h2>
            <p>
              Use the element inside main element.</p>

              <hr>
          </div>
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="tabs-aria-view40" data-bs-toggle="tab" data-bs-target="#tabs-view40" type="button" role="tab">View</button>
                <button class="nav-link" id="tabs-aria-HTML40" data-bs-toggle="tab" data-bs-target="#tabs-HTML40" type="button" role="tab">HTML Code</button>
              </div>
            </nav>
            <div class="tab-content p-4 shadow pb-6" id="nav-tabContent">
              <div class="tab-pane fade show active " id="tabs-view40" role="tabpanel" aria-labelledby="tabs-aria-view40">
                <div class="tab-item ">
                  <div class="team-members d-grid grid-template-4">
                    <!-- Team Member-->
                    <div class="team-member card shadow p-3 rounded-3 text-center">
                      <img src="images/team/team-member1.png" alt=""
                        class="team-member-thumb w-100 h-100 rounded-3 mx-auto ">
                      <div class="team-member-details">
                        <h4 class="mt-3 mb-2 lh-sm fs-3">Angelina Lina</h4>
                        <span>CEO</span>
                      </div>
                    </div>
                    <!-- Team Member-->
                    <div class="team-member card shadow p-3 rounded-3 text-center">
                      <img src="images/team/team-member2.png" alt=""
                        class="team-member-thumb w-100 h-100 rounded-3 mx-auto ">
                      <div class="team-member-details">
                        <h4 class="mt-3 mb-2 lh-sm fs-3">Micthel Slattter</h4>
                        <span>UX Designer</span>
                      </div>

                    </div>
                    <!-- Team Member-->
                    <div class="team-member card shadow p-3 rounded-3 text-center">
                      <img src="images/team/team-member3.png" alt=""
                        class="team-member-thumb w-100 h-100 rounded-3 mx-auto ">
                      <div class="team-member-details">
                        <h4 class="mt-3 mb-2 lh-sm fs-3">Johny Dane</h4>
                        <span>Managing Director</span>
                      </div>
                    </div>
                    <!-- Team Member-->
                    <div class="team-member card shadow p-3 rounded-3 text-center">
                      <img src="images/team/team-member4.png" alt=""
                        class="team-member-thumb w-100 h-100 rounded-3 mx-auto ">
                      <div class="team-member-details">
                        <h4 class="mt-3 mb-2 lh-sm fs-3">Lara Latiniya</h4>
                        <span>Graphics Designer</span>
                      </div>
                    </div>
                    <!-- Team Member-->
                  </div>
                </div>          
              </div>
              <div class="tab-pane fade" id="tabs-HTML40" role="tabpanel" aria-labelledby="tabs-aria-HTML40">
                <div class="tab-item ">
                  <pre class="language-html">
                    <code class=" language-html">
                      &lt;div class=&quot;team-members d-grid grid-template-4 mb-5&quot;&gt;
                      &lt;!-- Team Member--&gt;
                        &lt;div class=&quot;team-member card shadow p-3 rounded-3 text-center&quot;&gt;
                          &lt;img src=&quot;images/team/team-member1.png&quot; alt=&quot;&quot;
                            class=&quot;team-member-thumb w-100 h-100 rounded-3 mx-auto &quot;&gt;
                          &lt;div class=&quot;team-member-details&quot;&gt;
                            &lt;h4 class=&quot;mt-3 mb-2 lh-sm fs-3&quot;&gt;Angelina Lina&lt;/h4&gt;
                            &lt;span&gt;CEO&lt;/span&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;!-- Team Member--&gt;
                        &lt;div class=&quot;team-member card shadow p-3 rounded-3 text-center&quot;&gt;
                          &lt;img src=&quot;images/team/team-member2.png&quot; alt=&quot;&quot;
                            class=&quot;team-member-thumb w-100 h-100 rounded-3 mx-auto &quot;&gt;
                          &lt;div class=&quot;team-member-details&quot;&gt;
                            &lt;h4 class=&quot;mt-3 mb-2 lh-sm fs-3&quot;&gt;Micthel Slattter&lt;/h4&gt;
                            &lt;span&gt;UX Designer&lt;/span&gt;
                          &lt;/div&gt;
    
                        &lt;/div&gt;
                        &lt;!-- Team Member--&gt;
                        &lt;div class=&quot;team-member card shadow p-3 rounded-3 text-center&quot;&gt;
                          &lt;img src=&quot;images/team/team-member3.png&quot; alt=&quot;&quot;
                            class=&quot;team-member-thumb w-100 h-100 rounded-3 mx-auto &quot;&gt;
                          &lt;div class=&quot;team-member-details&quot;&gt;
                            &lt;h4 class=&quot;mt-3 mb-2 lh-sm fs-3&quot;&gt;Johny Dane&lt;/h4&gt;
                            &lt;span&gt;Managing Director&lt;/span&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;!-- Team Member--&gt;
                        &lt;div class=&quot;team-member card shadow p-3 rounded-3 text-center&quot;&gt;
                          &lt;img src=&quot;images/team/team-member4.png&quot; alt=&quot;&quot;
                            class=&quot;team-member-thumb w-100 h-100 rounded-3 mx-auto &quot;&gt;
                          &lt;div class=&quot;team-member-details&quot;&gt;
                            &lt;h4 class=&quot;mt-3 mb-2 lh-sm fs-3&quot;&gt;Lara Latiniya&lt;/h4&gt;
                            &lt;span&gt;Graphics Designer&lt;/span&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;!-- Team Member--&gt;
                      &lt;/div&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Default Team Example-->

    <!--Other Team Example-->
    <div class="row mb-5 mt-5">
      <div class="col-md-12">
        <div class="row">
          <div class="col-12">
            <h2>Team View With rounded image</h2>
            <p>
              Use the element inside main element.</p>
              <hr>
          </div>
          <div class="col-12">
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="tabs-aria-view41" data-bs-toggle="tab" data-bs-target="#tabs-view41" type="button" role="tab">View</button>
                <button class="nav-link" id="tabs-aria-HTML41" data-bs-toggle="tab" data-bs-target="#tabs-HTML41" type="button" role="tab">HTML Code</button>
              </div>
            </nav>
            <div class="tab-content p-4 pb-5 shadow" id="nav-tabContent">
              <div class="tab-pane fade show active " id="tabs-view41" role="tabpanel" aria-labelledby="tabs-aria-view41">
                <div class="tab-item ">
                  <div class="team-members d-grid grid-template-4 mb-5">
                    <!-- Team Member-->
                    <div class="team-member card cards shadow p-5 p-lg-3 p-xxl-3 rounded-3 text-center">
                      <img src="images/team/team-member1.png" alt="" class="team-member-thumb rounded-circle mx-auto ">
                      <div class="team-member-details">
                        <h4 class="mt-3 mb-2 lh-sm fs-3">Angelina Lina</h4>
                        <span>CEO</span>
                      </div>
                    </div>
                    <!-- Team Member-->
                    <div class="team-member card cards shadow p-5 p-lg-3 p-xxl-3 rounded-3 text-center">
                      <img src="images/team/team-member2.png" alt="" class="team-member-thumb rounded-circle mx-auto ">
                      <div class="team-member-details">
                        <h4 class="mt-3 mb-2 lh-sm fs-3">Micthel Slattter</h4>
                        <span>UX Designer</span>
                      </div>
                    </div>
                    <!-- Team Member-->
                    <div class="team-member card cards shadow p-5 p-lg-3 p-xxl-3 rounded-3 text-center">
                      <img src="images/team/team-member4.png" alt="" class="team-member-thumb rounded-circle mx-auto ">
                      <div class="team-member-details">
                        <h4 class="mt-3 mb-2 lh-sm fs-3">Johny Dane</h4>
                        <span>Managing Director</span>
                      </div>
                    </div>
                    <!-- Team Member-->
                    <div class="team-member card cards shadow p-5 p-lg-3 p-xxl-3 rounded-3 text-center">
                      <img src="images/team/team-member3.png" alt="" class="team-member-thumb rounded-circle mx-auto ">
                      <div class="team-member-details">
                        <h4 class="mt-3 mb-2 lh-sm fs-3">Lara Latiniya</h4>
                        <span>Graphics Designer</span>
                      </div>
                    </div>
                    <!-- Team Member-->
                  </div>
                </div>          
              </div>
              <div class="tab-pane fade" id="tabs-HTML41" role="tabpanel" aria-labelledby="tabs-aria-HTML41">
                <div class="tab-item ">
                  <pre class="language-html">
                    <code class=" language-html">
                      &lt;div class=&quot;team-members d-grid grid-template-4 mb-5&quot;&gt;
                        &lt;!-- Team Member--&gt;
                        &lt;div class=&quot;team-member card cards shadow p-5 p-lg-3 p-xxl-3 rounded-3 text-center&quot;&gt;
                          &lt;img src=&quot;images/team/team-member1.png&quot; alt=&quot;&quot; class=&quot;team-member-thumb rounded-circle mx-auto &quot;&gt;
                          &lt;div class=&quot;team-member-details&quot;&gt;
                            &lt;h4 class=&quot;mt-3 mb-2 lh-sm fs-3&quot;&gt;Angelina Lina&lt;/h4&gt;
                            &lt;span&gt;CEO&lt;/span&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;!-- Team Member--&gt;
                        &lt;div class=&quot;team-member card cards shadow p-5 p-lg-3 p-xxl-3 rounded-3 text-center&quot;&gt;
                          &lt;img src=&quot;images/team/team-member2.png&quot; alt=&quot;&quot; class=&quot;team-member-thumb rounded-circle mx-auto &quot;&gt;
                          &lt;div class=&quot;team-member-details&quot;&gt;
                            &lt;h4 class=&quot;mt-3 mb-2 lh-sm fs-3&quot;&gt;Micthel Slattter&lt;/h4&gt;
                            &lt;span&gt;UX Designer&lt;/span&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;!-- Team Member--&gt;
                        &lt;div class=&quot;team-member card cards shadow p-5 p-lg-3 p-xxl-3 rounded-3 text-center&quot;&gt;
                          &lt;img src=&quot;images/team/team-member4.png&quot; alt=&quot;&quot; class=&quot;team-member-thumb rounded-circle mx-auto &quot;&gt;
                          &lt;div class=&quot;team-member-details&quot;&gt;
                            &lt;h4 class=&quot;mt-3 mb-2 lh-sm fs-3&quot;&gt;Johny Dane&lt;/h4&gt;
                            &lt;span&gt;Managing Director&lt;/span&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;!-- Team Member--&gt;
                        &lt;div class=&quot;team-member card cards shadow p-5 p-lg-3 p-xxl-3 rounded-3 text-center&quot;&gt;
                          &lt;img src=&quot;images/team/team-member3.png&quot; alt=&quot;&quot; class=&quot;team-member-thumb rounded-circle mx-auto &quot;&gt;
                          &lt;div class=&quot;team-member-details&quot;&gt;
                            &lt;h4 class=&quot;mt-3 mb-2 lh-sm fs-3&quot;&gt;Lara Latiniya&lt;/h4&gt;
                            &lt;span&gt;Graphics Designer&lt;/span&gt;
                          &lt;/div&gt;
                        &lt;/div&gt;
                        &lt;!-- Team Member--&gt;
                      &lt;/div&gt;
                      &lt;/div&gt;
                    </code>
                  </pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Other Team Example-->
  </div>
</section>