<!--
  #############
  Navigation Footer Section
  #############
-->
<footer class="footer text-center text-md-start pt-6 pb-md-7 pb-3 bg-secondary-dark" id="footer">
  <div class="container">
    <!--Navigation Top Footer area-->
    <div class="row">
      <!-- Navigation Footer Logo -->
      <div class="col-12">
      </div>
    </div>
    <!--End of Navigation Footer Top Area-->
    <!-- Footer Bottom Area -->
    <div class="row clearfix">
      <div class="col-md-12">
        <div class="pt-5 text-center text-lg-start">
          <p class="text-secondary-light"> Copyright 2021 Static Mania, All rights reserved!</p>
        </div>
      </div>
    </div>
    <!-- End of Footer Bottom Area -->
  </div>
  <!--End of footer Items-->
</footer>
<!--
  #############
  End Navigation Footer Section
  #############
-->